.navbar{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: larger;
}
.nav-item{
    color: honeydew;
    font-size: larger;
    padding-left: 2rem;
}
.bg1{
    background-color: honeydew;
}
.header1{
    color: gold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    font: bolder;
}
.header5{
    font-family: 'Courier New', Courier, monospace;
}